<center style="background-image: url('https://i.imgur.com/WvkWztl.png');">
<hr size = 3 noshade>
  <h1 style="color:White; font-size: 40px; align: left">
        <%= link_to 'ScrapBook', members_path %>
    </h1>
  <br>
  <h2>Just an Assignment</h2>
  <h3>by</h3>
  <h2>Abhay Chauhan</h2>
<hr size = 3 noshade>
</center>
<div style="bottom: 20px;">
    
</div>
</div>