<center>
<hr size = 3 noshade>
  <h1 style="color:White; font-size: 40px; ">
        <%= link_to 'ScrapBook', members_path %>
    </h1>
  <br>
  <h3>by</h3>
  <br>
  <h2>Arthur Conan Doyle</h2>
<hr size = 3 noshade>
</center>
<div style="bottom: 20px;">
    
</div>
</div>